@import play.api.i18n.Messages
@(messageForm: Form[Message])(implicit messages: Messages)
@main("Message Form") {

    @if( messageForm.hasErrors ) {
        <ul>
            @messageForm.errors.map { error =>
                <li>@error.key - @error.message</li>
            }
        </ul>
    }

    @helper.form(action = routes.Messages.update) {
        @helper.inputText(messageForm("content"))
        @helper.inputDate(messageForm("moment"))
        @if( messageForm.data.get("id").isDefined ) {
            <input type="hidden" name="id" value="@messageForm.get.id.get">
        }
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                    Create Product
            </button>
        </div>
    }
}